%h1
  = t(".title")
%p.description
  = t(".description")

%ul.admin-nav
  %li.head_tag
    = link_to h("<head>"), manage_content_path(:tab=>"head_tag")
  %li.question_help
    = link_to t(".question_help"), manage_content_path(:tab=>"question_help")
  %li.question_prompt
    = link_to t(".question_prompt"), manage_content_path(:tab=>"question_prompt")
  %li.head
    = link_to t(".head"), manage_content_path(:tab=>"head")
  %li.top_bar
    = link_to t(".top_bar"), manage_content_path(:tab=>"top_bar")
  %li.footer
    = link_to t(".footer"), manage_content_path(:tab=>"footer")


= form_for @group, :html => {:class => "form"} do |form|
  = form.error_messages
  =hidden_field_tag :source, domain_url(:custom => @group.domain, :controller => "admin/manage", :action => "content", :tab=>@active_subtab)
  - langs = @group.languages.sort
  - default_lang = langs.delete(@group.language) || @group.language

  -if @active_subtab == "head_tag"
    .field
      = text_area_tag "group[custom_html][#{@active_subtab}]", @group.custom_html.send(@active_subtab), :class => "text_area"
  -elsif %w[question_help question_prompt head top_bar footer]
    .field
      =form.label "_#{@active_subtab}[#{default_lang}]", language_desc(default_lang), :class => "label"
      =text_area_tag "group[custom_html][#{@active_subtab}[#{default_lang}]]", @group.custom_html.send(@active_subtab)[default_lang], :class => "text_field"
    .lang-fields
      %ul
        -langs.each do |lang|
          %li
            = link_to language_desc(lang), "##{@active_subtab}-#{lang}"
      -langs.each do |lang|
        .field{:id => "#{@active_subtab}-#{lang}"}
          =text_area_tag "group[custom_html][#{@active_subtab}[#{lang}]]", @group.custom_html.send(@active_subtab)[lang], :class => "text_field"


  .buttons
    = form.submit t("scaffold.update"), :class => "save"
