
= form_tag manage_moderate_questions_path do
  %table.table
    %tr
      %th
      %th
        =t(:flags, :scope => "activerecord.models")
      %th
        =t(:title, :scope => "activerecord.attributes.question")
      %th
        =t(:banned, :scope => "activerecord.attributes.question")
      %th
        =t(:body, :scope => "activerecord.attributes.question")
    -@questions.each do |question|
      %tr
        %th
          = check_box_tag "question_ids[]", question.id
        %td
          = render :partial => "flags/list", :locals=> {:flaggeable => question}
        %td
          = link_to h(question.title), question_path(question)
        %td
          &= question.banned
        %td
          = truncate(h(question.body), :length => 100)
  = paginate @questions
  = submit_tag "ban"
  = t("global.or")
  = submit_tag "unban"
