%h1
  = t('.title')
%p.description
  = t('.description')

.list-announcements
  %ul
    -@announcements.each do |announcement|
      %li
        %h2
          = markdown(announcement.message)
        .date
          = "#{Time.at(announcement.starts_at).strftime("<b>%x</b> %X")} - #{Time.at(announcement.ends_at).strftime("<b>%x</b> %X")}".html_safe
        -if announcement.only_anonymous
          %strong
            = "[#{t("activerecord.attributes.announcement.only_anonymous")}]"
        = link_to t("announcements.actions.delete"), announcement_path(announcement), :method => :delete

= form_for(@announcement, :html=>{:class => "form", :id => "new_announcement"}) do |f|
  = render :partial => "form", :locals => {:f => f}

  .form-options
    .buttons
      = f.submit t('scaffold.create'), :class => "save"
