%h1
  = t("layouts.manage.themes")
%p.description
  = t('themes.index.description')

.toolbar
  %ul.menubar
    %li.action
      = link_to "Add new theme", new_theme_path
    %li.action
      = link_to "Import", "#", class: "import_theme"
    %li.more.current.action
      = link_to "Filter", "#"
      %ul.drop-menu
        %li
          = link_to t('themes.index.group_themes'), themes_path
        %li
          = link_to t('themes.index.all_themes'), themes_path(:tab => "all")


= form_tag import_themes_path, :method => :post, :class => "import_dialog form_dialog" do |f|
  =file_field_tag :theme_file
  =submit_tag "import"

%section.themes
  = render "theme", :theme => current_group.current_theme || Theme.where(:is_default => true).first

  -if @themes.empty?
    = render "shared/empty", :type => "themes", :url => new_theme_path
  -else
    -@themes.each do |theme|
      = render "theme", :theme => theme

  = paginate @themes
