%h1
  = @theme.name
%p.description
  = @theme.description
  - if @theme.group == current_group
    = link_to t("scaffold.edit"), edit_theme_path(@theme)
    = link_to t('scaffold.destroy'),  theme_path(@theme), :method => :delete, :confirm => t("scaffold.sure", :model => Theme.model_name.human)
    = link_to t("themes.show.download"), download_theme_path(@theme)
  -if @theme.ready
    = link_to t("themes.show.try"), domain_url(custom: current_group.domain, test_theme: @theme.id, controller: "questions", action: "index"), :target => "_blank"
    = link_to t("themes.show.apply"), apply_theme_path(@theme), :method => :put
    = link_to t("themes.show.download"), download_theme_path(@theme)

-if !@theme.ready
  #not_ready
    = I18n.t('themes.show.not_ready')

%ul.details-theme
  %li
    %div.display-color{:style => "background: ##{@theme.bg_color}"}
    = I18n.t('themes.show.bg_color')
  %li
    %div.display-color{:style => "background: ##{@theme.fg_color}"}
    = I18n.t('themes.show.fg_color')
  -if !@theme.new? && @theme.has_bg_image?
    %li
      = image_tag(bg_image_path(@theme.group,@theme.id,@theme.version))
      = I18n.t('themes.show.bg_image')
  %li
    %div.display-color{:style => "background: ##{@theme.view_bg_color}"}
    = I18n.t('themes.show.view_fg')

  %li
    %div.display-color{:style => "background: ##{@theme.brand_color}"}
    = I18n.t('themes.show.brand_color')

