%li
  %label
    = number_with_delimiter(@resources.total_count)
    = t(:answers, :scope => "activerecord.models")
    \-
    = t('global.sort_by')
%li.newest
  = link_to t("questions.index.newest"), answers_user_path(@user, params.merge(:sort=>"newest")), :rel => "nofollow", :class => "pjax", :"data-layout" => "user"
%li.hot
  = link_to t("questions.index.oldest"), answers_user_path(@user, params.merge(:sort=>"oldest")), :rel => "nofollow", :class => "pjax", :"data-layout" => "user"
%li.votes
  = link_to t("questions.index.votes"), answers_user_path(@user, params.merge(:sort=>"votes")), :rel => "nofollow", :class => "pjax", :"data-layout" => "user"
