.tooltip
  - if tag && tag.has_icon?
    .tooltip-avatar
      = image_tag(tag_icon_path(current_group,tag.name))

  .tooltip-name
    %p= t('questions.index.has_followers', :count => tag.followers_count.to_i)
    = follow_tag_link(tag)
  .tooltip-description
    - if !tag.description.blank?
      = tag.description
    - else
      - if logged_in? && current_user.mod_of?(current_group)
        = link_to t('tags.show_json.edit_it'), edit_tag_path(tag)
      - else
        = t('tags.show_json.no_description')


