%h2
  = tag.name
  -if local_assigns[:show_counter]
    (#{tag.count})
.tools
  -if logged_in? && current_user.mod_of?(current_group)
    = link_to t("scaffold.edit"), edit_tag_path(tag)
    = link_to t("scaffold.destroy"), tag_path(tag), :method => :delete, :sure => t("scaffold.sure", :model => "tag")
  = follow_tag_link(tag)