%h1
  = t('users.change_password.title')
%p.description

= form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = f.error_messages
  = f.hidden_field :reset_password_token
  %p
    = f.label :password
  %p
    = f.password_field :password
  %p
    = f.label :password_confirmation
  %p
    = f.password_field :password_confirmation
  %p
    = f.submit t('users.change_password.submit')


= render :partial => "shared/devise_links"
