- group = @resource.instance_variable_get("@group")
-domain = group ? group.domain : ActionMailer::Base.default_url_options[:host]


%p
  = t('devise.mailer.hello')
  = @resource.email
  \!
%p
  = t('devise.mailer.reset_password.instruction1')
%p
  = link_to t('devise.mailer.reset_password.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => domain)
%p
  = t('devise.mailer.reset_password.nonrequested')
%p
  = t('devise.mailer.reset_password.warning')
