%nav.top-bar
  .warp
    %ul.menubar
      %li.logo
        %h1.brand
          = link_to(group_logo_img(current_group, :class => "group_logo"), domain_url(:custom => current_group.domain))
      %li.searcher
        = form_tag search_index_path, :method => :get, :id => "search" do
          .field
            = text_field_tag :q, params[:q]
      -if logged_in?
        -if current_user.admin_of?(current_group)
          = render "admin/manage/top_admin"
        -if current_user.mod_of?(current_group)
          = render "admin/moderate/top_moderate"
    -if !logged_in?
      /=multiauth_menu("Sign In")
      = multiauth_dropdown("Sign In")
    -elsif current_group.is_member?(current_user)
      %ul.user-list.menubar
        = render "notifications/notifications_menu"
        = render "users/top_user"
    - else
      %ul.user-list.menubar.not_member
        %li
          = link_to t('layouts.application.join_group', :group => current_group.name), new_user_path, :class => "signed_in_join_group #{current_group.signup_type} has-subnav"


    %ul.menubar.group-list
      -if !current_group.isolate
        = render "groups/top_grouplist"