#login_dialog.top-bar{'data-title' => t('devise.sessions.link')}
  %ul.auth-list
    %li
      = render "shared/login_drop_down"
#join_dialog.hide{'data-title' => t('layouts.application.join_group', :group => current_group.name)}
  = link_to t('layouts.application.not_member_join_dialog', :group => current_group.name), join_groups_path , :id => 'join_dialog_link'
%footer
  %nav
    %ul
      -if !current_group.footer.blank?
        = raw(current_group.footer)
      -else
        %li
          = link_to t('global.blog'), 'http://blog.ricodigo.com/blog/categories/shapado/'
        %li
          = link_to 'Twitter', 'http://twitter.com/shapado'
        %li
          = link_to 'Identi.ca', 'http://identi.ca/shapado'
        %li
          = link_to 'IRC', 'irc://irc.freenode.org/shapado'
        %li
          = link_to t('global.chat'), domain_url+'/chat'
        %li
          = link_to t('global.feedback'), feedback_url, :class => "feedback", :id => "feedback"
        %li
          = link_to t('global.tos'), tos_path
        %li
          = link_to t('global.privacy'), privacy_path
  %p
    - cc_link = link_to 'Creative Commons Attribution 3.0', 'http://creativecommons.org/licenses/by/3.0/'
    = raw t('.cc_footer', :cc_link => cc_link)
  %p
    / !!!!!!!!!!!! DO NOT REMOVE LINK TO SOURCE CODE AND LICENSE !!!!!!!!!!!!!
    - agpl_link = link_to 'GNU Affero General Public License','http://www.fsf.org/licensing/licenses/agpl-3.0.html'
    - source_link = link_to 'Shapado', 'http://gitorious.org/shapado'
    = raw t('.powered_by', :agpl_link => agpl_link, :source_link => source_link, :version => AppConfig.version)
    - if current_group.enable_mathjax
      = link_to('& mathjax', 'http://www.mathjax.org')
      = raw("<script type='text/javascript'>$('[data-layout=question]').removeClass('pjax')</script>")

  .feedback{:style => "display:none"}
    = render :partial => "welcome/feedback"

  = render "shared/layout/javascript"
  = render "shared/layout/websocket"
