
= render "shared/widgets", :context => 'mainlist', :position => 'header'
%header
  -announcements = current_announcements(session[:announcement_hide_time])
  -unless announcements.empty?
    .announcement
      %p
        - announcements.each do |announcement|
          = markdown(announcement.message)
      = link_to t('scaffold.close'), hide_announcements_path, :id => "hide_announcement"

  -if !(params[:controller] =~ /moderate\//)
    - questions_link =  questions_link_for(params[:context])
    = render "shared/content-nav", :questions_link => questions_link

  .title.clearfix
    -cc = yield :header
    -if !cc.blank?
      = cc
    -else
      -if !(params[:controller] =~ /moderate\//)
        = render "shared/quick_question_box"

  %nav
    .filters.clearfix.clearfix{:class => @active_subtab }
      %ul.menubar
        = yield :nav_filters
