- langs = current_group.languages.sort
- default_lang = langs.delete(current_group.language) || current_group.language
- default_lang = "en" if default_lang.blank?

.field
  = label :content, t('widgets.settings.content'), :class => "label"
  = label "settings[content[#{default_lang}]]", language_desc(default_lang), :class => "label"
  = text_field_tag "settings[content[#{default_lang}]]", ((widget.settings||{})["content"]||{})[default_lang]||current_group.description, :class => "text_field"
  .lang-fields
    %ul
      -langs.each do |lang|
        %li
          =link_to lang, "#content-#{lang}", :title => language_desc(lang)
    -langs.each do |lang|
      %div{:id => "content-#{lang}"}
        =text_area_tag "settings[content[#{lang}]]", ((widget.settings||{})["content"]||{})[lang], :class => "text_field"

= render :partial => "shared/external_widget_settings", :locals => {:widget => widget}
