- unless self.current_tags.empty?
  .module.clearfix.widget.block{:class => 'widget-current_tags'}
    = render "widgets/header", :widget => widget
    %aside.tag-list
      - self.current_tags.each do |tag|
        %span.tag{:class => "tag_#{h(tag)}"}
          = tag_link(tag)
          - tags = (self.current_tags - [tag])
          - if tags.empty?
            = link_to "-", tag_path(:id => self.current_tags.map{|t| CGI.escape(t)}.join("+")), :class => "remove_tag"
          - else
            = link_to "-", tag_path(:id => tags.map{|t| CGI.escape(t)}.join("+")), :class => "remove_tag"