.module.clearfix.widget.block{:class => 'widget-top_users'}
  = render "widgets/header", :widget => widget
  %aside
    %ul
      - widget.top_users(current_group).each do |user|
        %li
          .avatar
            = avatar_img(user, :size => "small")
          .data
            %h5
              %b
                = link_to h(user.display_name), user_path(user), :class => "pjax", :"data-layout" => "user"
              %small
                = t(:reputation, :scope => "activerecord.attributes.user")
                ==#{user.reputation_on(current_group)}

  %footer
    =link_to t("scaffold.more"), users_path

