<% content_for :scripts do %>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?sensor=false&language=el&libraries=places"></script>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<% categories_array = Category.order("name asc").map{ |c| [c.name, c.id] } %>
<% selected_category = @category_id %>

<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= @incident.errors.count %>
          <%= if @incident.errors.count == 1
                "λάθος εμπόδισε"
              else
                "λάθη εμπόδισαν"
              end %>
            την αποθήκευση του περιστατικού</h2>
      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Cloud"><%= t(:start_here_prompt) %></div>
  <div class="diafthora">
    <div class="box dtm">
      <div class="dtm-ddl-holder" title="Πότε συνέβη το περιστατικό;">
        <div class="left dll">

          <div class="field">
            <%= f.date_select :incident_date,
                :start_year => Time.now.year - 30,
                :end_year => Time.now.year
                  %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    
    <div class="box category"  title="Επιλέξτε την Κατηγορία στην οποία ανήκει η Υπηρεσία">
      <div class="category-ddl-holder">
        <div class="dll">
          <div class="field ui-widget">
            <%= select_tag(:category_id,
                           options_for_select(categories_array,
                                              selected_category),
                           :include_blank => true) %>
          </div>
        </div>
      </div>
    </div>

    <div class="box public-entity"  title="Επιλέξτε την Υπηρεσία που συνέβη το περιστατικό">
      <div class="public-entity-ddl-holder">
        <div class="dll">
          <div class="field ui-widget"> 
            <%= search_field_tag :public_entity_name,
                params[:public_entity_name],
                :value => @incident.public_entity_name || t(:public_entity_name)
            %>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <% if @incident.praise  == false %>
      <div class="box money" title="Σας ζητήθηκαν χρήματα; Αφήστε τα πεδία κενά αν όχι">
        <div class="money-ddl-holder">

          <div class="field">
            <div class="moneytxt moneyasked">
              <%= f.text_field :money_asked,
                  :value => @incident.money_asked || t(:money_asked) %>
            </div>
          </div>
          <div class="field">
            <div class="moneytxt moneygiven">
              <%= f.text_field :money_given,
                  :value => @incident.money_given || t(:money_given) %>
            </div>
          </div>
        </div>        
      </div>
    <% end %>

    <div class="box map">
      <div class="map-ddl-holder">

        <div class="map">
          <div id="map_canvas"></div>
        </div>
        
        <div>
          <div class="map_text_field">
            <input id="searchTextField" type="text" size="50"
                   <%= @incident.place_name.nil? ?
                       "" :
                         "value='#{@incident.place_name}'" %> >
          </div>
          
          <div style="display:none;">
            <input type="radio" name="type"
                   id="changetype_all" checked="checked">
            <label for="changetype-all">All</label>
            
            <input type="radio" name="type" id="changetype_establishment">
            <label for="changetype_establishment">Establishments</label>
            
            <input type="radio" name="type" id="changetype_geocode">
            <label for="changetype_geocode">Geocodes</label>

            <%= fields_for @place do |place_form| %>
              <%= place_form.hidden_field :name %>
              <%= place_form.hidden_field :longitude %>
              <%= place_form.hidden_field :latitude %>
              <%= place_form.hidden_field :address %>
            <% end %>
            
          </div>          
        </div>
      </div>
    </div>
              
    <div class="<%=
                if @incident.praise != false
                  'box-big'
                else
                  'box'
                end %> comments">
      <div class="comments-ddl-holder">
        <div class="<%=
                    if @incident.praise != false
                      'commentstxt-big'
                    else
                      'commentstxt'
                    end %> comment">
          <div class="field">
            <%= f.text_area :description,
                :value => @incident.description || t(:description),
                :onclick => "clearTxt(this, '#{t(:description)}')",
                :onblur => "resetTxt(this, '#{t(:description)}')" %>
          </div>
        </div>
        <div class="sub-text"><%= t(:non_identifying) %></div>
      </div>
    </div>
    <div class="clear"></div>

    <% if session[:user_id] %>
      <div class="field box-thin">
        <%= label_tag(:praise, "Praise") %>
        <%= check_box(:incident, :praise) %>
        <%= label_tag(:approval_status, "Approval status") %>
        <%= select(:incident, :approval_status,
                   Incident::ALL_APPROVAL_STATUSES,
                   {:include_blank => false} ) %>
        </div>
      <div class="clear"></div>
    <% end %>

    <div class="bottom">

      <div class="actions">
        <%= image_tag "btns/return.png", :border => "0",
            :onclick => "parent.document.location='#'",
            :class => 'back-btn' %>
        <%= f.submit "Submit",
            :type => :image,
            :src => asset_path("diafthora/ypovoli.png"),
            :class => 'submit-btn'%>
      </div>

      </div>
    </div>
          
  </div>
    
<% end %>
