<% content_for :scripts do %>
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?sensor=false&language=el&libraries=places"></script>
<% end %>

<%= form_tag("/incidents/search", :method => "get") do %>

  <%= hidden_field_tag(:praise, value = @praise) %>
      
  <div class="kataggelies-filter">
    <div class="pointerbg"><%= t(:filter) %></div>

    <div class="left filter-ddl">
      <span class="field ui-widget">
        <% category_array =
          Category.all.map {|category| [category.name, category.id] } %>
        <%= select_tag(:category_id,
                       options_for_select(category_array),
                       {:include_blank => true}) %>
      </span>
    </div>
  
    <div class="left filter-ddl">
      <span class="map_text_field">
        <%= text_field_tag(:place_name_filter, nil, :size => 50) %>
      </span>
    </div>
  
    <div class="left filter-ddl">
      <span class="field ui-widget"> 
        <%= search_field_tag :public_entity_name_filter,
          params[:public_entity_name_filter],
          :value => t(:public_entity_name) %>
      </span>
    </div>

    <div class="left filter-btn">
      <%= image_submit_tag("btns/search.png",
                     :onmouseover =>
                       "this.src='#{image_path('btns/searchon.png')}'",
                     :onmouseout =>
                       "this.src='#{image_path('btns/search.png')}'")
          %>
    </div>
    
    <div class="clear"></div>
  </div>

<% end %>

<div class="content">
  <h1 class="exeisymvikaisemena-icon">
    <%= if !@praise
          t(:bad_news_heading)
        else
          t(:good_news_heading)
        end
     %></h1>
  <div class="subtext">
    <p>
      <%= if !@praise
          t(:bad_news_subheading)
        else
          t(:good_news_subheading)
        end
     %></h1>
    </p>
  </div>

  <div class="text">&nbsp;</div>
  
  <div class="kataggelies">
    <div class="title">
      <%= if !@praise
            t(:bad_news_heading)
          else
            t(:good_news_heading)
          end
      %>
    </div>
    <% if !@praise %>
      <div class="title-small grid-bg">
        <span class="asked"><%= t(:money_asked) %></span>
        <span class="given"><%= t(:money_given) %></span>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="grid jspScrollable" style="overflow: hidden; padding: 0px; width: 913px; " tabindex="0">
      
      <div class="jspContainer" style="width: 913px; height: 500px;">
        <div class="jspPane" style="padding: 0px; top: -150px; width:899px;">
          <div id="rpt">
            <div style="">
              <% @incidents.each do |incident| %>
                <div class="incidents">
                  <div class="categories">
                    <%= incident.public_entity.nil? ?
                        "" :
                        "#{incident.public_entity.category.name} | " %>
                    <%= incident.place.name %>
                    <%= incident.public_entity.nil? ? 
                        "" :
                        " | #{incident.public_entity.name}" %>
                  </div>
                  <div class="descr">
                    <%= incident.description %>
                  </div>
                  <div class="incident_footer">
                    <%= incident.created_at %>
                    <% if session[:user_id] %>
                      |
                      <%= incident.approval_status %>
                      |
                      <%= link_to 'Show', incident %> 
                      <%= link_to 'Edit', edit_incident_path(incident) %>
                      <%= link_to 'Destroy', incident, method: :delete,
                          data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>

                <% if !incident.praise %>
                  <div class="money">
                    <div class="asked">
                      <%= incident.money_asked %>
                    </div>
                    <div class="given">
                      <%= incident.money_given %>
                      <% if incident.money_given == 0 %>
                        <%= img_tag("images/diafthora/like.png") %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="clear"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

