<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Incident date</th>
    <th>Money requested</th>
    <th>Money given</th>
    <th>Description</th>
    <th>Public entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.incident_date %></td>
    <td><%= incident.money %></td>
    <td><%= incident.money_given %></td>
    <td><%= incident.description %></td>
    <td><%= incident.public_entity_id %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
