%li.group
  = link_to "Groups", "#"
  %ul.drop-menu
    -if logged_in?
      -cache_for("usergroups_#{current_user.id}_#{current_user.memberships.count}") do
        -current_user.groups.only(:name, :domain).limit(10).all.each do |group|
          %li
            = link_to group.name, domain_url(:custom => group.domain)
    -else
      -cache_for("usergroups_active") do
        -Group.only(:name, :domain).where(:state => "active", :private => false).order_by([:activity_rate, :desc]).limit(10).all.each do |group|
          %li
            = link_to group.name, domain_url(:custom => group.domain)
    %li
      = link_to t("groups.new.title"), new_group_path

