%h1
  = t('.title')
%p.description

=form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
  = f.error_messages
  = render :partial => "form", :object => f

  .buttons
    = link_to t("scaffold.back"), groups_path, :class => "cancel button"
    = link_to t("scaffold.show"), group_path(@group), :class => "button"
    = t("global.or")
    = f.submit t("scaffold.update"), :class => "save"
    = t("global.or")
