<!DOCTYPE html>
<html>
<head>
  <title>Backkick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,800,400,600&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <div class="sidebar">
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Incidents', incidents_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        Logged in as: <%= session[:user_name] %>
        <%= button_to('Logout', logout_path, method: :delete) %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
