-membership = member
-member = membership.user

-can_modify_member = logged_in? && (current_user.admin? || current_user != member ) && current_user.owner_of?(@group)
%ul
  %li
    / Member Stats
    .stats
      %p
        %b
          =format_number(member.questions.count)
        = t(:questions, :scope => "activerecord.models")
      %p
        %b
          =format_number(member.answers.count)
        = t(:answers, :scope => "activerecord.models")

      %p
        %b
          =format_number(member.reputation_on(current_group))
        = t(:reputation, :scope => "activerecord.attributes.user")

    .user-info
      %h2
      = pjax_link_to member.display_name, "user", user_path(member), {:title => member.display_name}
      %p.description
        =find_and_preserve(auto_link(member.bio))
        %small
          = t("time.ago", :time => time_ago_in_words(member.created_at))

    -if can_modify_member
      = form_tag(member_path(membership), :class => "form", :method => :put) do |f|
        .field
          = select_tag :role, options_for_select(locales_roles, membership.role)
        .buttons
          = submit_tag t("scaffold.update"), :class => "save"
          = link_to t("scaffold.destroy"), member_path(membership), :method => :delete, :confirm => t("members.form.destroy_confirm")
    -else
      .role
        &= membership.role


