%h1
  = t('layouts.manage.members')
%p.description

.members
  = form_tag "/members", :class => "form", :id => "filter_members", :method => "get" do
    .field
      = label_tag :q, t(".filter"), :class => "label"
      = text_field_tag "q", params[:q], :class => "text_field filter_field"
      = submit_tag("filter", :class => "filter_input")
  #members
    -@members.each do |member|
      = render :partial => "member", :object => member

    = paginate @members
