<% categories_array = Category.order("name asc").map{ |c| [c.name, c.id] } %>

<%= form_for(@public_entity) do |f| %>
  <% if @public_entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_entity.errors.count, "error") %> prohibited this public_entity from being saved:</h2>

      <ul>
      <% @public_entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category_id, categories_array) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
