<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @public_entity.name %>
  <br />
  
  <b>Category:</b>
  <%= @public_entity.category.name %>
</p>


<%= link_to 'Edit', edit_public_entity_path(@public_entity) %> |
<%= link_to 'Back', public_entities_path %>
