%li
  %label
    = t('global.sort_by')
%li
  -case @active_subtab.to_s
    -when "activity"
      = link_to "#{t("questions.index.active")} ▾", "#"
    -when "newest"
      = link_to "#{t("questions.index.newest")} ▾", "#"
    -when "hot"
      = link_to "#{t("questions.index.hot")} ▾", "#"
    -when "followers"
      = link_to "#{t("users.show.followers")} ▾", "#"

  %ul.drop-menu
    %li
      = pjax_link_to t("questions.index.active"), "index", url_for(params.merge(questions_link).merge(:sort=>"activity")), :title => t("questions.index.active_tooltip"), :rel => "nofollow"
    %li.newest
      = pjax_link_to t("questions.index.newest"), "index", url_for(params.merge(questions_link).merge(:sort=>"newest")), :title => t("questions.index.newest_tooltip"), :rel => "nofollow"
    %li.hot
      = pjax_link_to t("questions.index.hot"), "index", url_for(params.merge(questions_link).merge(:sort=>"hot")), :title => t("questions.index.hot_tooltip"), :rel => "nofollow"
    %li.followers
      = pjax_link_to t("users.show.followers"), "index", url_for(params.merge(questions_link).merge(:sort=>"followers")), :title =>  t("questions.index.followers_tooltip"), :rel => "nofollow"

%li
  %label= t("shared.filter")
%li
  - if session[:filter]
    = link_to "#{t("layouts.application.#{session[:filter]}")} ▾", url_for(questions_link_for(session[:filter])), :rel => 'nofollow'
  - elsif params[:unanswered]
    = link_to "#{t('layouts.application.unanswered')} ▾", url_for(questions_link.merge(:unanswered => 1)), :rel => 'nofollow'
  - else
    = link_to "#{t('layouts.application.all')} ▾", questions_path, :rel => 'nofollow'
  %ul.drop-menu
    %li
      = tab_entry "li", t('layouts.application.all'), filtered_questions_path(filter: 'all'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}
      = link_to t('layouts.application.unanswered'), url_for(questions_link.merge(:unanswered => 1)), :rel => 'nofollow'
      -if logged_in?
        = tab_entry "li", t('layouts.application.followed'),  filtered_questions_path(filter: 'feed'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}
        = tab_entry "li", t('layouts.application.by_me'), filtered_questions_path(filter: 'by_me'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}
        = tab_entry "li", t('layouts.application.preferred'), filtered_questions_path(filter: 'preferred'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}
        = tab_entry "li", t('layouts.application.contributed'), filtered_questions_path(filter: 'contributed'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}
        = tab_entry "li", t('layouts.application.collaborate'), filtered_questions_path(filter: 'expertise'), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "index"}

%li
  %label
    = t('shared.view_mode')
%li
  -if params[:answers] == "1"
    = link_to "#{t('activerecord.models.answers')} ▾", "#"
  -else
    = link_to "#{t('activerecord.models.questions')} ▾", "#"
  %ul.drop-menu
    %li
      = pjax_link_to t('layouts.application.questions'), "index", url_for(questions_link)
    %li
      = pjax_link_to t('activerecord.models.answers'), "index", url_for(questions_link.merge(:answers => 1)), :rel => 'nofollow'
-if current_group.languages.count > 1
  %li
    %label#lang-select-toggle{"data-language"=>change_language_filter_path}
      = render "shared/language_filter"
