%section.main-question#question
  %h1
    &= @question.title

  .description.markdown
    %p
      = @question.body

  .stats
    %p
      %strong
        = t('activerecord.attributes.question.created_at')
      = t("time.ago", :time => time_ago_in_words(@question.created_at))
      %strong
        = t('questions.show.viewed')
      = t('number.x_time', :count => number_with_delimiter(@question.views_count))
      %strong
        = t("questions.show.last_activity")
      = t("time.ago", :time => time_ago_in_words(@question.activity_at))

  %ul.tag-list
    -@question.tags.each do |tag|
      %li
        = link_to h(tag), url_for(:controller => "questions", :action => "index", :tags => tag), :rel => "tag"

= render :partial => "questions/retag_form"